<% if authorized? %>
  <form action='/create' method='post' class='form-inline well'>
    <input type='text' name='username' placeholder='username' autofocus>
    <input class='btn primary' type='submit' value='Create'>
  </form>
  <form action='/delete' method='post'>
    <input class='btn primary' type='submit' value='Delete last user'>
  </form>
<% end %>
